<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- the name of your app; must match your App-Org with spaces -->
	<key>CFBundleName</key>
    <string>App Org</string>

    <!-- the bundle ID, which must be: "app.App-Org" with your app org name -->
	<key>CFBundleIdentifier</key>
    <string>app.App-Org</string>

    <!-- the semantic release in the form MAJOR.MINOR.PATCH -->
	<key>CFBundleShortVersionString</key>
    <string>0.0.1</string>

    <!-- the monotonically non-decreasing build number -->
	<key>CFBundleVersion</key>
    <string>1</string>

	<key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

	<key>UIDeviceFamily</key>
    <integer>2</integer>

    <key>NSAllowsArbitraryLoads</key>
    <true/>

	<key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

	<key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>

	<key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>


	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
